{
  "title": "Netty-MPA",
  "databaseSettings": {
    "username": "INSERT_USR_HERE",
    "password": "INSERT_PWD_HERE",
    "host": "INSERT_HOST_HERE",
    "port": 27017,
    "database": "INSERT_DB_HERE"
  }
}