<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <property name="HOME_LOG" value="logs/app.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d{dd-MM-yyy HH:mm:ss} %level]: %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                [%d{dd-MM-yyy HH:mm:ss}] [%level]: %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE-ROLLING" />
        <queueSize>512</queueSize>
    </appender>

    <logger name="nl.ideax" level="debug">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="io.netty" level="WARN"/>

</configuration>